---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import PostDate from "./PostDate.astro";
import PostTags from "./PostTags.astro";

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, date, tags, image } = post.data;

const imageWidth = 800;
const imageHeight = 400;
---

<article class="card">
	{
		image && (
			<a href={`/blog/${post.id}`} class="mb-4 block">
				<Image
					src={image}
					alt={title}
					width={imageWidth}
					height={imageHeight}
					decoding="async"
					loading="eager"
					class="h-48 w-full rounded-lg object-cover"
				/>
			</a>
		)
	}
	<header class="flex flex-col gap-2">
		<PostDate date={date} />
		<h2>
			<a href={`/blog/${post.id}`} class="card-link">
				{title}
			</a>
		</h2>
	</header>
	{tags && <PostTags tags={tags} />}
</article>
