---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import PostDate from "./PostDate.astro";
import PostTags from "./PostTags.astro";

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, date, tags, image } = post.data;

const imageWidth = 800;
const imageHeight = 400;
---

<article
	class="shadow-secondary-900 dark:bg-primary-900 border-primary-100 dark:border-primary-700 rounded-md border p-6 shadow-md transition-transform duration-300 hover:-translate-y-2 hover:shadow-lg"
>
	{
		image && (
			<a href={`/blog/${post.id}`} class="mb-4 block">
				<Image
					src={image}
					alt={title}
					width={imageWidth}
					height={imageHeight}
					decoding="async"
					loading="eager"
					class="h-48 w-full rounded-lg object-cover"
				/>
			</a>
		)
	}
	<header class="flex flex-col gap-2">
		<PostDate date={date} />
		<h2 class="text-xl font-bold">
			<a
				href={`/blog/${post.id}`}
				class="text-secondary-600 dark:text-secondary-300 hover:text-secondary-500 dark:hover:text-secondary-100 transition-colors duration-300"
			>
				{title}
			</a>
		</h2>
	</header>
	{tags && <PostTags tags={tags} />}
</article>
